/* Main background and text colour */
/* ----------------------------------------------------------- */
body {
  background-color: #f8f8f8;
  color: #1c1c1c;
}
/* Change the selection color */
/* ----------------------------------------------------------- */
::-moz-selection {
  background: #ddf5f3;
  color: #000;
  text-shadow: none;
}
::selection {
  background: #ddf5f3;
  color: #000;
  text-shadow: none;
}
/* Headings and paragraphs */
/* ----------------------------------------------------------- */
h1,
h2,
h3,
h4,
p {
  text-shadow: 0 1px 0 #fff;
}
blockquote {
  color: #777;
}
/* Links */
/* ----------------------------------------------------------- */
a,
a:link,
a:active,
a:visited {
  color: #F1433F;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover {
  color: #3D4C53;
}
/* The text logo */
/* ----------------------------------------------------------- */
#logo h1 { color: #000; }
/* The logo tagline */
/* ----------------------------------------------------------- */
#tagline {
  color: #1c1c1c;
  text-shadow: 0 1px 0 #fff;
}
/* Main navigation dropdown */
/* ----------------------------------------------------------- */
ul.dropdown a,
ul.dropdown a:link,
ul.dropdown a:visited {
  text-shadow: 0 1px 0 #fff;
  color: #555;
}
ul.dropdown a:active {
  background: #70B7BA;
}
ul.dropdown li:hover,
ul.dropdown li:hover a:hover {
  background: #cfcfcf;
}
ul.dropdown ul li {
  text-transform: none;
  background: #f4f4f4;
}
ul.dropdown li.current > a {
  color: #333;
  background: #dedede;
  text-shadow: 0 1px 0 #efefef;
  font-weight: bold;
}
/* Content Slider */
/* ----------------------------------------------------------- */
.content-slider p {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
/* Media Object */
/* ----------------------------------------------------------- */
/* Adapt the media objects */
#content .media {
  background-color: rgba(231, 225, 212, 0.5);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4)";
}
#content .media:hover {
  background: #e3e3e3;
}
/* Meta extension for the blog pages */
.meta {
  color: #555;
  text-shadow: 0 1px 0 #fff;
}
/* Buttons */
/* ----------------------------------------------------------- */
.button,
a.button,
button,
input[type="submit"] {
  background-color: #3D4C53;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover {
  background-color: #F1433F;
  color: #fff;
}
/* Side navigation */
/* ----------------------------------------------------- */
.side-nav {
  text-shadow: 0 1px 0 #fff;
}
.side-nav li {
  background-color: rgba(231, 225, 212, 0.5);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4)";
}
.side-nav li:hover {
  background: #f4f4f4;
}
.filter a {
  text-shadow: 0 1px 0 #fff;
}
.filter a:hover {
  border-bottom: 1px dotted #333;
}
.filter .active a {
  color: #000;
  border-bottom: 1px dotted #333;
}
hr.small,
.hr_small {
  border-bottom: 1px #555 solid;
}

.object {
    color:#353535;
  }

/* Accordion */
/* ----------------------------------------------------- */
.accordion {
  /*color:#fff;*/
  background-color: rgba(231, 225, 212, 0.5);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4)";
  text-shadow: 0 1px 0 #fff;
}
.accordion-trigger:hover {
  background-color: rgba(0, 0, 0, 0.050000000000000044);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0D000000, endColorstr=#0D000000,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0D000000, endColorstr=#0D000000)";
}
/* Tabs */
/* ----------------------------------------------------- */
ul.tabs .active {
  background-color: rgba(231, 225, 212, 0.5);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4)";
  border-top: #444 dotted 1px;
  margin-top: -1px;
}
ul.tabs li a:hover {
  color: #3D4C53;
  background-color: rgba(0, 0, 0, 0.050000000000000044);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0D000000, endColorstr=#0D000000,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0D000000, endColorstr=#0D000000)";
}
.tabs-content {
  /*color:#fff;*/
  background-color: rgba(231, 225, 212, 0.5);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80e7e1d4, endColorstr=#80e7e1d4)";
}
/* Active status for the Tabs */
/* ----------------------------------------------------- */
.active,
.active a,
a.active {
  color: #3D4C53;
}
/* Icons */
/* ----------------------------------------------------- */
.icon-date {
  background-image: url(img/icons/date_black.png);
}
.icon-comments {
  background-image: url(img/icons/comments_black.png);
}
.icon-arrow-left { background-image: url(img/icons/arrow_left_black.gif); width: 17px; height: 9px; background-position: 0; }
  .icon-arrow-right { background-image: url(img/icons/arrow_right_black.gif); width: 17px; height: 9px; background-position: 0; }
  .icon-overview { background-image: url(img/icons/overview_black.png); width: 18px; height: 9px; background-position: 0; }

/* Footer */
/* ----------------------------------------------------------- */
#main-footer {
  background: #353535;
  border-top: #111 solid 1px;
}
/* ----------------------------------------------------- */
/* Wrapper for smaller resolutions (from smartphones up to landscape tablets) */
@media (min-width: 1px) and (max-width: 979px) {
  ul.dropdown li {
    background: #bbb;
  }
}
