/* Main background and text colour */
/* ----------------------------------------------------------- */
body {
  background-color: #262324;
}
h1,
h2,
h3,
h4 {
  /* color: #F25835; */

}
/* Links */
/* ----------------------------------------------------------- */
a:hover {
  color: #F25835;
}
/* Buttons */
/* ----------------------------------------------------------- */
.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover {
  color: #fff;
  background: #F25835;
}
/* Footer */
/* ----------------------------------------------------------- */
#main-footer {
  background: #191718;
  border-top: #333 solid 1px;
}