/* Main background and text colour */
/* ----------------------------------------------------------- */
body {
  background-color: #403A2F;
}
/* Headings and paragraphs */
/* ----------------------------------------------------------- */
h1,
h2,
h3,
h4 {
  /* color: #F25835; */

  text-shadow: 0;
  color: #BAD847;
}
p {
  color: #F2F1E9;
  text-shadow: 0;
}
/* Links */
/* ----------------------------------------------------------- */
a,
a:link,
a:active,
a:visited {
  color: #E7552C;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover {
  color: #8A8E7D;
}
/* The logo tagline */
/* ----------------------------------------------------------- */
#tagline {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
/* Main navigation dropdown */
/* ----------------------------------------------------------- */
ul.dropdown a,
ul.dropdown a:link,
ul.dropdown a:visited {
  text-shadow: 0 1px 0 #000;
  color: #BAD847;
  /*font-weight:bold;*/
}
ul.dropdown a:active {
  background: #E7552C;
}
ul.dropdown li:hover,
ul.dropdown li:hover a:hover {
  color: #fff;
  background: #545146;
}
ul.dropdown ul li {
  text-transform: none;
  background: #46433A;
}
ul.dropdown li.current > a {
  color: #fff;
  background: #E7552C;
  text-shadow: 0 1px 0 #000;
  /*font-weight:bold;*/
}
/* Media Object */
/* ----------------------------------------------------- */
#content .media:hover {
  background: #1f1b14;
}
/* Accordion */
/* ----------------------------------------------------- */
.accordion {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.19999999999999996);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";
  text-shadow: 0 1px 0 #000;
}
.accordion-trigger:hover {
  background-color: rgba(0, 0, 0, 0.30000000000000004);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000, endColorstr=#4D000000,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000, endColorstr=#4D000000)";
}
/* Tabs */
/* ----------------------------------------------------- */
ul.tabs .active {
  background-color: rgba(0, 0, 0, 0.19999999999999996);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";
  border-top: #444 dotted 1px;
  margin-top: -1px;
}
ul.tabs li a:hover {
  /*color:#3D4C53;*/
  background-color: rgba(0, 0, 0, 0.050000000000000044);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0D000000, endColorstr=#0D000000,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0D000000, endColorstr=#0D000000)";
}
.tabs-content {
  /*color:#fff;*/
  background-color: rgba(0, 0, 0, 0.19999999999999996);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000,GradientType=0 )";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)";
}
/* Buttons */
/* ----------------------------------------------------------- */
.button,
a.button,
button,
input[type="submit"] {
  color: #fff;
  background: #E7552C;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover {
  color: #fff;
  background: #8A8E7D;
}
/* Footer */
/* ----------------------------------------------------------- */
#main-footer {
  background: #26231C;
}
/* The logo tagline */
/* Main navigation dropdown */
/* Make sure the content slider has white texts */
/* Adapt the media objects */
