// @import "variables.less";
@import "/Users/gyopiazza/Works/basement/less/mixins.less";
@import "/Users/gyopiazza/Works/basement/less/elements.less";



/* Container Reset
-------------------------------------------------------------- */

/* Clearfix the field container */
.yo-container, .yo-field { *zoom: 1; }
.yo-container:before, .yo-container:after, .yo-field:before, .yo-field:after { content: ""; display: table; }
.yo-container:after, .yo-field:after { clear: both; }

.clearfix { 
	*zoom: 1;
	&:before, &:after {
		display:table; content:"";
	}
	&:after {
		clear: both;
	}
}

// .clearfix { *zoom: 1; }
// .clearfix:before, .clearfix:after { display:table; content:""; }
// .clearfix:after { clear: both; }




/* Basic Field Styles
-------------------------------------------------------------- */

/* Separate the fields a bit */
.yo-container .yo-field { padding:15px 0 10px 0; border-top: 1px solid #fff; border-bottom: #e8e8e8 solid 1px; }
.yo-container .yo-field:first-child { border-top:0; padding-top:0; }
.yo-container .yo-field:last-child { border-bottom:0; padding-bottom:0; }
/* Only the first level fields inside the metabox (not in groups) */
.inside > .yo-field { margin: 10px 0; }
/* Fields label and description wrapper */
.yo-label { width:25%; margin-right:5%; float:left; }
.yo-label label { font-weight:bold; }
// .yo-label label { font-weight:bold; }
.yo-description { color:#888; font-style:italic; margin-top:0; }
/* Fields input wrapper */
.yo-input {	width:70%; float:right; clear:right; }
/* Hidden fields */
.yo-input .hide { display:none; }

.yo-clone .yo-field,
.yo-group .yo-field { padding:0; border:0; }



/* Basic Form Styles
-------------------------------------------------------------- */

/* Make elements rounded */
.yo-container input,
.yo-container textarea,
.yo-container button, 
.yo-container .button, 
.yo-button { .rounded(3px); }

/* Set the buttons padding */
.yo-container button, 
.yo-container .button,
.yo-button { padding:4px 7px; margin:0; -moz-box-sizing:content-box; line-height:1.4em; font-size:12px !important; }

/* Give input and textarea boxes a subtle inner shadow */
.yo-field input,
.yo-field textarea {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s; }

/* Highlight the active element */
.yo-field input:focus,
.yo-field textarea:focus { outline:0; outline:thin dotted \9; }
.yo-field label:focus,
.yo-field input[type="file"]:focus,
.yo-field input[type="radio"]:focus,
.yo-field input[type="checkbox"]:focus,
.yo-field select:focus {
	outline: thin dotted #222;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */ }



/* Fields
-------------------------------------------------------------- */

/* Text */
.yo-text .yo-placeholder { height:43px; }

/* Textarea */
.yo-textarea textarea { width:100%; padding:3px 5px; }
.yo-textarea .yo-remove-clone {	float:right; }

/* Media field */
.yo-media-buttons { clear:both; }
.yo-upload-media, .yo-remove-media { float:left; }
.yo-media-thumb { float:left; }
.yo-media-thumb img {
	max-width:400px;
	// max-height:350px;
	// overflow: hidden;
	// float:left;
	// margin-top:10px;
	padding: 5px;
	border: 1px solid #e3e3e3;
	background: #f7f7f7;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; }
.yo-media-thumb img:hover { background:#cacaca; border-color:#777; }

/* Radio */
.yo-radio label { margin-right:10px; }
.yo-radio-img { margin:0 10px 10px 0; cursor:pointer; }
.yo-radio-img-selected { outline:5px solid #bfd1da; }

/* Select */
.yo-select select { height: auto; }


/* Info */
.yo-info div {
	padding: 0 15px;
	// line-height: 1.5em;
	font-size: 12px;
	background-color: #EFF9FF;
	border: 1px solid #D6F0FF;
	// .clearfix;
}

/* Buttons
-------------------------------------------------------------- */

/* Submit button */
#yo-submit {
	// .rounded(3px);
}

/* Reset button */
#yo-reset {
	// .rounded(3px);
	// font-family:Arial,Verdana,sans-serif;
	float:left;
	// padding: 4px;
	/*height: 23px;*/
	/*line-height: 23px;*/
	margin:0 ;
	color: #ef521d;
	border-color: #bbb; }

/* Remove media (used by the media field) */
.yo-container .yo-remove-media { margin-left:9px; color:#ef521d; }

/* Remove clone button */
.yo-field .yo-remove-clone { padding:0 4px; line-height:14px; margin-left:2px; -webkit-box-sizing: content-box; box-sizing: content-box; }


/* Extra
-------------------------------------------------------------- */
.yo-sortable .yo-clone { cursor:move; }


/* Sortable Placeholder */
// .yo-placeholder { background:#fafafa; border:4px dashed #ddd; margin:0 0 -1px 0; /*border-radius:15px;*/ }
// .yo-placeholder { /*background:#efefef; margin-bottom:20px;/*border:4px dashed #ddd; margin:0 0 -1px 0;*/ /*border-radius:15px;*/ }
.yo-placeholder { padding-bottom:5px; }

.yo-oneline .yo-label,
.yo-oneline .yo-input { width:auto; float:left; }





// .yo-text .yo-remove-clone {
// 	display: inline-block;
// 	width: auto;
// 	height: 18px;
// 	min-width: 16px;
// 	padding: 4px 5px;
// 	font-weight: normal;
// 	line-height: 18px;
// 	text-align: center;
// 	vertical-align: middle;
// 	border-radius:0 3px 3px 0;
// 	margin-left:-2px;
// 	// padding-bottom:4px;
// }




// .yo-field input, 
// .yo-field textarea, 
// .yo-field select, 
// .yo-field select
// {
// 	padding:7px 7px 6px 7px;
// }


/* Text field */
// .yo-text {
// 	padding:7px 7px 6px 7px;
// }

// .yo-textarea {
// 	padding:7px 7px 6px 7px;
// }





/* Meta boxes
-------------------------------------------------------------- */

.yo-metabox { padding-top:5px; }




/* Theme Options
-------------------------------------------------------------- */

/* Options wrapper */
.yo-options { margin-top:18px; margin-right:17px; max-width:1200px;	z-index:0; }

/* Single section */
[id*="yo-option-"] {
	padding: 15px;
}

/* Header part */
.yo-header {
	height: 70px;
	background:#f1f1f1;
	border: 1px solid #ccc;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
	background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
	background-image: linear-gradient(top,#f9f9f9,#ececec);
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff; }

.yo-logo { float: left;	margin:10px 20px; }

/* The bar below the header, and above the content */
.yo-infobar {
	background: #f3f3f3;
	border:solid #d8d8d8;
	border-bottom:1px solid #D8D8D8;
	border-width:0px 1px 1px 1px;
	padding: 7px 14px 1px 4px;
	height: 31px;
	text-align: right;
	-moz-box-shadow: inset 0 1px 0 #fcfcfc;
	-webkit-box-shadow: inset 0 1px 0 #fcfcfc;
	box-shadow: inset 0 1px 0 #fcfcfc; }

/* Expand sections button */
.yo-expand {
	cursor: pointer;
	display: block;
	height: 22px;
	width: 21px;
	float: left;
	font-size:0px;
	text-indent: -9999px;
	margin: 0 0 0 10px;
	border: 1px solid #bbb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; }
.yo-expand:hover { cursor: pointer;	border-color: #888; }
.yo-infobar .expand { background: url(../img/toggle_tabs.png) no-repeat -2px -1px; }
.yo-infobar .close { background: url(../img/toggle_tabs.png) no-repeat -2px -26px; }
// .yo-expanded { box-shadow: 0px 5px 10px -7px rgba(00, 00, 00, 0.5); }
.yo-expanded { border-bottom:7px solid #f4f4f4; }


/* Main content area (navigation and sections) */
.yo-content {
	background-color: #f1f1f1;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8; }

/* The sections wrapper */
.yo-sections {
	float: left;
	min-height: 500px;
	width: 80%;
	margin-left: -1px;
	/*padding: 0 14px;*/
	font-family: "Lucida Grande", Sans-serif;
	background-color: #FCFCFC;
	border-left: 1px solid #d8d8d8;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff; }

/* Options navigation tabs */
.yo-nav { float:left; position:relative; z-index:1; width: 20%; }
.yo-nav ul { margin:0; }
.yo-nav li {
	margin-bottom:0;
	-moz-box-shadow: inset 0 1px 0 #f9f9f9;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9;
	margin-right: 1px;
	border-bottom: 1px solid #d8d8d8; }
.yo-nav li:last-child {
	-moz-box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
	-webkit-box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9;
	box-shadow: inset 0 1px 0 #f9f9f9, 0 1px 0 #f9f9f9; }
.yo-nav li.current { margin-right:0; }

.yo-nav li a, #yo-nav ul li a:link, #yo-nav ul li a:visited {
	display: block;
	padding: 10px 10px 10px 40px;
	background-repeat: no-repeat;
	background-position: 13px 10px;
	font-weight:bold;
	font-size: 12px;
	text-decoration: none;
	color: #555;
	opacity: 0.5; }
.yo-nav ul li.current a { background-color:#fcfcfc; color:#797979; opacity:1; }
.yo-nav ul li a:hover {	color:#d54e21;	opacity:1; }

/*menu icons - customize to your liking*/
// .yo-nav li.slideroptions a{ background-image:url(../img/icon-slider.png);}
// .yo-nav li.generalsettings a{ background-image:url(../img/icon-settings.png);}
// .yo-nav li.stylingoptions a{ background-image:url(../img/icon-paint.png);}
// .yo-nav li.exampleoptions a{ background-image:url(../img/icon-docs.png);}
// .yo-nav li.homesettings a{ background-image:url(../img/icon-home.png);}
// .yo-nav li.backupoptions a {background: url(../img/icon-backup.png) no-repeat;}
// .yo-nav li.advancedsettings a {background: url(../img/wrench16.png) no-repeat;}





/* Messages */
.yo-container .accept {
	background: #DBF6BE no-repeat 10px center;
	border: solid #9BBF65;
	border-width: 0px 1px 1px 1px;
	color: #060;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
.yo-container .warning {
	background: #ffeeee no-repeat 10px center;
	border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
.yo-container .update_available {
	background: #FFFEEB no-repeat 10px center;
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
.yo-container .yo-save-popup {
	position:absolute;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	font-size:24px;
	text-align:center;
	display:none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.yo-container .yo-save-popup div{
	background-repeat: no-repeat;
	background-position: 20px 50%;
	padding:30px 30px 30px 60px;
}
.yo-container .yo-save-save {
	background-image: url(../img/button_check.png);
}
.yo-container .yo-save-reset {
	background-image: url(../img/sign_warning.png);
}
.yo-container .yo-save-fail {
	background-image:url(../img/stop.png);
}

.yo-container .accept,
.yo-container .warning,
.yo-container .update_available,
.yo-container .yo-save-popup {
	z-index: 9999;
}




/* Save bar */
.yo-savebar {
	background: #f3f3f3;
	border:solid #ccc;
	border-width:0px 1px 1px 1px;
	padding: 14px 14px 5px 14px;
	height: 35px;
	text-align: right;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

/* End Theme Options */







/* Extra
-------------------------------------------------------------- */


/* Toggler slide */
.slide-checkbox {
	background:transparent url('../img/checkbox-clean.png') -40px 0 no-repeat;
	display: inline-block;
	margin-left:1px;
	/*cursor:pointer;*/
	-webkit-transition: background-position 0.3s;
	   -moz-transition: background-position 0.3s;
		 -o-transition: background-position 0.3s;
		-ms-transition: background-position 0.3s;
			transition: background-position 0.3s;

	input {
		width: 77px;
		height: 31px;
	}
}

.slide-checkbox-checked { background-position: 0 0; }
.slide-checkbox-hide { width:81px; height:28px; margin:0; padding:0; opacity:0; filter:alpha(opacity=0); /*cursor:pointer;*/ }

.yo-add-clone { float:left; }

.yo-heading { 
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size: 18px;
	line-height: 29px;
	font-weight: bold;
	color:#464646;
	margin-top:0 !important;
	margin-bottom: 15px;
	padding: 0 0 3px;
	border-bottom:1px solid #e8e8e8;
}

.sortable-type { padding:10px; cursor:move; }
.sortable-type img, .sortable-type h4 {
	display:inline-block;
	vertical-align: middle;
	margin-right:10px;
}



/* Custom Styles
-------------------------------------------------------------- */

/* Group Example 1 */
// .yo-clone { border-bottom:1px dotted #ccc; padding-bottom:12px; margin-bottom:12px; position:relative; }
// .project-material .yo-field {	margin:0; }
// .project-material .yo-text { width:55%; float:left; }
// .project-material .yo-text input[type="text"] { width:100%; float:none; }
// .project-material .yo-label { width:20%; }
// .project-material .yo-media { /*width:30%;*/ float:right; /*position:absolute; top:0; right:0;*/ margin-top:-28px; background:#eee; padding:10px; border-radius:5px; } 

// .project-material .yo-remove-clone { position:absolute; top:0; left:-35px; /*padding:0 7px; line-height:14px;*/ }
// .project-material .yo-placeholder { margin-bottom:20px; }
// .project-material .yo-media-thumb img { max-width:75px; max-height:75px; overflow:hidden; }


.yo-clone { border-bottom:1px dotted #eee; padding-bottom:12px; margin-bottom:12px; position:relative; }
.project-material .yo-collapse-expand { position:absolute; top:25px; left:-28px; padding:1px 3px; width:10px; background:url('../img/icon-collapse-expand.gif') 1px 0 no-repeat; text-indent:-9999px; /*padding:0 7px; line-height:14px;*/ }
.project-material .yo-remove-clone { position:absolute; top:0; left:-30px; padding:1px 3px; width:10px; background:url('../img/icon-trash.png') 0 0 no-repeat; text-indent:-9999px; /*padding:0 7px; line-height:14px;*/ }
.project-material .yo-placeholder { margin-bottom:20px; }

.project-material .yo-text,
.project-material .yo-select,
.project-material .yo-field.yo-color { width:60%; float:left; margin-bottom:7px; }
.project-material .yo-text .yo-label,
.project-material .yo-select .yo-label ,
.project-material .yo-field.yo-color .yo-label { width:20%; margin-right:7px; }
.project-material .yo-text .yo-input,
.project-material .yo-select .yo-input,
.project-material .yo-field.yo-color .yo-input { float:left; }
.project-material .yo-text input { width:100%; }

.project-material .yo-media-buttons { padding-top:9px; }
.project-material .yo-media { width:37%; float:right; background:#eee; margin:0; padding:10px; border-radius:5px; box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */ }
.project-material .yo-media .yo-input { width:100%; float:left; clear:none; }
.project-material .yo-media-buttons { /*margin-top:10px;*/ float:right; clear:right; } 
.project-material .yo-upload-media,
.project-material .yo-remove-media { float:right; clear:both; }
.project-material .yo-remove-media { margin-top:10px; }
.project-material .yo-media-thumb img { max-width:100px; max-height:100px; }
.yo-container .yo-field.yo_project_material_image,
.yo-container .yo-field.yo_project_material_slideshow,
.yo-container .yo-field.yo_project_material_video,
.yo-container .yo-field.yo_project_material_audio { margin-bottom:0; border-bottom:0; }
// .project-material .yo-clone { .columns(50%, 2, 0, transparent, '', 0); }
.project-material .yo-media-thumb { margin-top:10px; }


/* Collapsed group */
.project-material .group-collapsed { height:35px; }
.project-material .group-collapsed .yo-input,
.project-material .group-collapsed .yo-label,
.project-material .group-collapsed .yo-media { display:none; }

.project-material .group-collapsed .yo-collapse-expand { background-position:1px -48px; }

.yo-field.color_scheme { border-bottom:0; }


.featured_projects .yo-field { margin-bottom:10px; }
